<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.er.dao.MoneyCordMapper">

	<!-- 插入记录 -->
	<insert id="insert">
		insert into moneyrecord values(null,#{dno},#{money},#{type},now())
	</insert>
</mapper>